<div class="container">
  <div class="row">
    <div class="col-3">
      <mat-card class="stats-card" [routerLink]="['/appointments']">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Appointments</mat-card-title>
            <mat-card-subtitle>2309</mat-card-subtitle>
            <mat-icon matSuffix
              ><span class="material-symbols-outlined text-color-theme">
                book_online
              </span></mat-icon
            >
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="stats-card" [routerLink]="['/patients']">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Patients</mat-card-title>
            <mat-card-subtitle>1512</mat-card-subtitle>
            <mat-icon matSuffix
              ><span class="material-symbols-outlined text-color-theme">
                patient_list
              </span></mat-icon
            >
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card class="stats-card" [routerLink]="['/room-allotment']">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>room-allotment</mat-card-title>
            <mat-card-subtitle>311</mat-card-subtitle>
            <mat-icon matSuffix
              ><span class="material-symbols-outlined text-color-theme">
                moving_ministry
              </span></mat-icon
            >
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="stats-card" [routerLink]="['/payments']">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Payments</mat-card-title>
            <mat-card-subtitle>12850$</mat-card-subtitle>
            <mat-icon matSuffix
              ><span class="material-symbols-outlined text-color-theme">
                payments
              </span></mat-icon
            >
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Latest Appointments</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-elevation-z8">
            <table mat-table matSort [dataSource]="dataSource">
              <!-- Index Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <!-- age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
                <td mat-cell *matCellDef="let element">{{ element.age }}</td>
              </ng-container>

              <!-- gender Column -->
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Gender
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.gender }}
                </td>
              </ng-container>

              <!-- department Column -->
              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Department
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.department }}
                </td>
              </ng-container>

              <!-- date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.date | date: "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <!-- doctorName Column -->
              <ng-container matColumnDef="doctorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Doctor Name
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.doctorName }}
                </td>
              </ng-container>

              <!-- fees Column -->
              <ng-container matColumnDef="fees">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fees</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fees | number }} $
                </td>
              </ng-container>

              <!-- actions Column -->
              <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                  &nbsp;
                </th>
                <td mat-cell *matCellDef="let element" class="actions-btns">
                  <button
                    mat-icon-button
                    color="primary"
                    [routerLink]="['/appointments', element.id]"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="deleteItem(element.id)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              pageSize="10"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
            >
            </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
